/*
!.gitignore
!AntTweakBar/
!CMake/
!Common/
!Visualization
!Simulation/
!freeglut/
!CMakeLists.txt
!presentation

#c-make
**/CMakeFiles/
**/*.cmake

#Visual studio
**/*.vcxproj
**/*.vcxproj.filters
**/Release/
**/Debug/
